.login-wrapper {
    display: flex;
    /* align-items: center; */
    width: 100%;
    transition: all 0.2s ease-in;
    opacity: 1;
    /* content-visibility: "none" */
}



.login-form{
    flex: 1;
    display: flex;
    flex-direction: column;
   justify-content: center;
}

.background{
    flex: 1;
}

.show-login-form{
    opacity: 1 ;
    transition: all 0.2s ease-in;
    visibility: 'inherit';
}

.hide-login-form{
    opacity: 0 ;
    transition: all 0.2s ease-in;
    visibility: hidden;
}

@media screen and (max-width: 768px){
    .background{
        flex: none;
        content-visibility: hidden;
    }
    .login-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5% 5%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
}