.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.list-message {
    display: flex;
    width: 100%;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    overflow-y: clip;
    padding: 10px 0;
}

.list-message span {
    padding: 3px;
}

.avatar {
    width: 15%;
}

.info {
    width: 70%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 0;
    height: fit-content;

}

.timestamp {
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    font-size: 12px;
    font-weight: 100;
    white-space: nowrap;
}

.message {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: 700;
}